body{
background-color:pink;
background-image:url("/home/Sem6B10/Desktop/index.png");
background-repeat:repeat-x;
background-attachment:fixed;
background-attachment:scroll;
}
img:hover{
   border:3pxdashed red;
height:40%
}
h1{
color:grey;
margin-left:20px;
}
p.special{
font-style:italic;
font-family:serif;
font-size:30px;
font-weight:bold;
color:green;
direction:rtl;
letter-spacing:7px;
text-align:right;
text-decoration:underline;
text-decoration:blink;
text-transform:uppercase;
text-shadow:4px 4px 8px yellow;
}
p.normal{
font-style:italic;
font-family:serif;
font-size:50px;
font-weight:500;
color:blue;
word-spacing:8px;
text-indent:1cm;
text-align:center;
text-decoration:line-through;
text-decoration:overline;
text-transform:capitalize;
text-transform:lowercase;
text-shadow:6px 9px 10px red;

}


























