body{
background-color:pink;
background-image:url("index.png");
background-repeat:repeat-x;
background-attachment:fixed;
background-attachment:scroll;
}
img{
   border:3pxdotted red;
border-style:solid;
border-width:20px 30px 2px 4px;
}
h1{
color:grey;
margin-left:20px;
}
p.special{
font-style:italic;
font-family:serif;
font-size:30px;
font-weight:bold;
color:green;
direction:rtl;
letter-spacing:7px;
text-align:right;
text-decoration:underline;
text-decoration:blink;
text-transform:uppercase;
text-shadow:4px 4px 8px yellow;
}
p.normal{
font-style:italic;
font-family:serif;
font-size:50px;
font-weight:500;
color:blue;
word-spacing:8px;
text-indent:1cm;
text-align:center;
text-decoration:line-through;
text-decoration:overline;
text-transform:capitalize;
text-transform:lowercase;
text-shadow:6px 9px 10px red;


}
P{
border-left:6px solid red;

}
p{
margin:25px 50px 75px
100px;
}
p{
width:300px;
margin:auto;
border:8px solid brown;
}
div p{
padding:25px 50px 75px 100px;
}
 
p{
margin:2cm;
padding:5px;
border:2px green;
}

li{
display:inline;
}

span.a{
display:inline;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}

span.b{
display:inline-block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:green;
}

span.c{
display:block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:orange;
}

p.d{
width:200px;
height:100px;
padding:5px;
text-decoration:underline;
background-color:pink;
}

p.f{
display:block;
width:200px;
height:100px;
padding:5px;
color:green;
border:1px green;
}
:target {
  border: 2px solid #D4D4D4;
  background-color:blue;
}

selector::pseudo-element{
property:value;
}

P::first-line{
color:#ff0000;
font-variant:small-caps;
}

p::first-letter{
color:#ff0000;
font-size:xx-large;
}
div.a{
background-color:blue;
border-width:2px;border-style:solid;color:blue;
}

#grad{
background-image:radial-gradient(red 5%,yellow 15%,purple 50%);
height:60px;}

#id2{
width:100px;
height:100px;
background:red;
transition:width 2s,height 4s,transform 2s;
border-radius:30px;

}
#id2:hover{
width:300px;
height:300px;
transform:rotate(180deg);
}

#id3{
width:100px;
height:100px;
background-color:red;
animation-name:example;
animation-duration:20s;
}
@keyframes example{
from{background-color:red;}
to{background-color:yellow;}
}










